{% extends "base.html" %}

{% block content %}

    <h1>Welcome to my Library!</h1>
    <ul>
        {% for genre in object_list|dictsort:"name" %}
            <li>
                <a href="{% url 'genre_detail' genre.id %}"> {{ genre.name }} </a>
            </li>
        {% empty %}
            <p>No genres in database!</p>
        {% endfor %}
    </ul>
    {% if perms.viewer.add_genre %}
        <a href="{% url 'genre_create' %}" role="button" class="btn btn-primary"> Add genre </a>
    {% endif %}
{% endblock %}